# Archivos de estado de Terraform
*.tfstate
*.tfstate.backup

# Archivos de planes
*.tfplan

# Archivos de bloqueo
.terraform.lock.hcl

# Directorio de trabajo de Terraform
.terraform/

# Archivos de logs o salida
crash.log
*.log

# Archivos de override locales
*.tfvars
*.tfvars.json
terraform.tfvars

# Archivos de configuración de entorno
.env
.env.*

# Archivos de claves o certificados
*.pem
*.key
*.crt
*.p12
*.jks
credentials.json

# Archivos de configuración de IDE y sistema operativo
.DS_Store
.idea/
.vscode/
*.swp

# Archivos comprimidos
*.zip
